.contactWrapper {
  width: 100%;
  min-height: 660px;
  background: var(--dark-600);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px 120px;
  gap: 80px;
  color: var(--light-100);
}

.about,
.contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.phone {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-500);
}

.image {
  margin-top: 20px;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}
