.typesOfSwimWrapper {
  width: 100%;
  min-height: 10rem;
  background: var(--dark-800);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.marquee {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.marqueeContent {
  display: flex;
  gap: 5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  color: var(--light-100);
  white-space: nowrap;
  animation: scrollMarquee 120s linear infinite;
}

@keyframes scrollMarquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (min-width: 23rem) and (max-width: 58rem) {
  .typesOfSwimWrapper {
    min-height: 5rem;
  }
  .marqueeContent {
    font-size: 1.125rem;
  }
}
