.contactWrapper {
  display: flex;
  width: 100%;
  min-height: 660px;
  background: var(--dark-600);
}

.leftSide {
  position: relative;
  width: 50%;
  height: 660px;
}

.rightSide {
  width: 50%;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 80px;
  margin-bottom: 48px;
}

.text {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.5;
}

.phone {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}
