*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-family), Arial, sans-serif;
  /*background-color: var(--dark-900);*/
  background-color: var(--light-100);
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  color: var(--light-100);
  cursor: default;
}

button {
  all: unset;
}

a {
  text-decoration: none;
}

:root {
  --font-family: "Inter", "Roboto", sans-serif;
  --light-100: #FFFFFF;
  --light-700: #C4C4C4;
  --primary-700: #676CDB;
  --dark-500: #2D3540;
  --dark-700: #222A36;
  --dark-900: #000000;
}

