.worksWrapper {
  width: 100%;
  min-height: 660px;
  padding: 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: var(--dark-600);
}

.years {
  font-size: 100px;
  color: var(--primary-500);
  font-weight: bold;
}

.myExpirience {
  max-width: 300px;
  color: var(--light-100);
  font-weight: bold;
  font-size: 40px;
}

.slogan {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.typesOfServices {
  min-width: 900px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: var(--light-100);
}
